
.employee-page {
    margin-left: 329px;
    background-color: rgb(255, 255, 255);
    background: transparent;
    width: 100%;

    .css-u5ngd {
        max-width: 1170px;
        flex: 1 1 0%;
        margin: 30px 46px 0px;

        .css-17jua99 {
            width: 100%;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 20px;

            h3 {
                margin: 0px;
                font-weight: 500;
                line-height: 1.19444;
                font-size: 36px;
                letter-spacing: -0.03em;
                color: rgb(17, 24, 28);
            }

            .input-group {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 10px;
                max-width: 186px;
                border: 1px solid #c0c8cd;

                input {
                    font: inherit;
                    letter-spacing: inherit;
                    color: currentcolor;
                    border: 0px;
                    box-sizing: content-box;
                    background: none;
                    margin: 0;
                    -webkit-tap-highlight-color: transparent;
                    display: block;
                    min-width: 0px;
                    width: 100%;
                    animation-name: mui-auto-fill-cancel;
                    animation-duration: 10ms;
                    padding: 6px 14px 6px 6px;
                }

                input:focus {
                    outline: none;
                }
            }

            .input-group:hover {
                border: 1px solid rgb(17, 24, 28);
            }

            .focused {
                border: 1px solid rgb(58, 160, 238) !important;
            }
        }


    }

    .header {
        margin: 0px;
        line-height: 1.5;
        font-size: 16px;
        letter-spacing: -0.01em;
        font-weight: 400;
        color: rgb(104, 112, 118);

        ol {
            display: flex;
            flex-wrap: wrap;
            -webkit-box-align: center;
            align-items: center;
            padding: 0px;
            margin: 0px;
            list-style: none !important;

            a {
                text-decoration: none;
                color: rgb(104 112 118);
            }

            p {
                margin: 0px;
                line-height: 1.35714;
                font-size: 14px;
                font-weight: 400;
                display: inline-block;
                color: rgb(17, 24, 28);
            }

            .css-3mf706 {
                display: flex;
                user-select: none;
                margin-left: 8px;
                margin-right: 8px;
                padding-bottom: 1px;
            }
        }
    }
}


