@import url(https://db.onlinewebfonts.com/c/bab845ed46b9ada0916b126689b6d069?family=Sofia+Pro+Viet);

#root {
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Sofia Pro Viet";
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.modal-sm {
  --bs-modal-width: 400px !important;
}